body.signup-page-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://www.dropbox.com/scl/fi/708ec6qjs3d1rn6wqcaxk/LOGIN-RESIDENT.png?rlkey=5ss0gh1e6expbaz8cgv76tsp3&st=5aof6i03&dl=1') no-repeat center center/cover;
}

.signup-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-form h2 {
    margin-bottom: 20px;
    color: #005f27;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-group input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group input::placeholder {
    color: #666;
    font-style: italic;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #005f27;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00411f;
}

.login-link {
    margin-top: 15px;
    color: #005f27;
    font-size: small;
    text-decoration: none;
    color: #1e3a8a;
    font-size: small;
    
}

.login-link:hover {
    text-decoration: underline;
}

/* Notification Popup */
.notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.notification.success {
    background-color: #4CAF50;
}

.notification .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.notification .closebtn:hover {
    color: black;
}
